<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3DPrinting</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Pacifico&family=Sevillana&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/logo.css">
</head>
<body>
<header th:replace="fragments/commons::navbar"></header>
<main class="my-5">
    <section class="login justify-content-center">
        <div class="container py-5 ">
            <form  th:action="@{/users/login}"
                   th:method="post">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 mx-auto">
                                    <div class="head text-center link-success">
                                        <h3>Влизане в профила</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="form p-3">
                                <div class="form-row mt-5">
                                    <div class="col-lg-12">
                                            <input  value="username"
                                                    id="username"
                                                    name="username"
                                                    th:value="${username}"
                                                    min="2"
                                                    max="10"
                                                    type="text"
                                                    class="effect-1"
                                                    placeholder="Юзър нейм">
                                        <span class="Focus-border"></span>
                                    </div>
                                </div>
                            </div>
                            <p th:if="${bad_credentials}"
                               class="text-danger">
                                Грешен юзърнейм или парола!
                            </p>
                            <div class="form-row mt-2">
                                <div class="col-lg-12">
                                    <input  name="password" type="password" min="2"
                                           max="10" class="effect-1" placeholder="   Парола">
                                    <span class="Focus-border"></span>
                                </div>
                                <div class="offset-12 col-lg-4 pt-5 justify-content-md-end">
                                    <button class="btn1">ВХОД</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </section>

</main>
</body>
<div th:replace="fragments/commons::footer" class="container my-5">

</div>
</html>