<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3DPrinting</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Pacifico&family=Sevillana&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header>
    <nav th:include="~{fragments/commons::navbar}"></nav>
    <ul th:include="~{fragments/commons::catalog-bar}" class="nav justify-content-center container-fluid"></ul>
</header>
<h1 class="text-center mt-5">Каталог с предмети за домашни любимци</h1>
<div class="d-grid gap-2 col-6 mx-auto mt-5">
    <a class="btn btn-danger btn-lg" type="button" href="/create-item-form">Създай предмет</a>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Играчка за куче </h5>
                    <img width="400" height="300"
                         src="https://static.turbosquid.com/Preview/2016/01/24__13_58_29/5.jpgddbb4588-6846-4589-aeb3-f5511569d770Large.jpg"
                         alt="Pic">
                    <p class="card-text">Безвреден кокал за четкане на зъбите!</p>
                    <p class="card-text">Цена - 15лв</p>
                    <a href="#" class="btn btn-success">Купи</a>
                    <a sec:authorize="hasRole('MODERATOR')" th:href="@{/pets-catalog/delete/{id}(id =*{id})}"  class="btn btn-success">Изтрий</a>

                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Играчка за куче </h5>
                    <img width="400" height="300"
                         src="https://d39l2hkdp2esp1.cloudfront.net/img/photo/135669/135669_00_2x.jpg?20171123092556"
                         alt="Pic">
                    <p class="card-text">Безвредна играчка - топка!</p>
                    <p class="card-text">Цена - 10лв</p>
                    <a href="#" class="btn btn-success">Купи</a>
                    <a sec:authorize="hasRole('MODERATOR')" th:href="@{/pets-catalog/delete/{id}(id =*{id})}"  class="btn btn-success">Изтрий</a>

                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Играчка за коте </h5>
                        <img width="400" height="300"
                             src="https://howchoo.com/media/mz/ey/nz/3d-printed-cat-toy-race-track.jpeg?width=1440&auto=webp"
                             alt="Pic">
                        <p class="card-text">Занимателна кръгла играчка!</p>
                        <p class="card-text">Цена - 25лв</p>
                        <a href="#" class="btn btn-success">Купи</a>
                        <a sec:authorize="hasRole('MODERATOR')" th:href="@{/pets-catalog/delete/{id}(id =*{id})}"  class="btn btn-success">Изтрий</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Играчка за коте </h5>
                        <img width="400" height="300"
                             src="https://i.ytimg.com/vi/qnAWDO-GdTY/hqdefault.jpg"
                             alt="Pic">
                        <p class="card-text">Занимателна писта с топче!</p>
                        <p class="card-text">Цена - 50лв</p>
                        <a href="#" class="btn btn-success">Купи</a>
                        <a sec:authorize="hasRole('MODERATOR')" th:href="@{/pets-catalog/delete/{id}(id =*{id})}"  class="btn btn-success">Изтрий</a>

                    </div>
                </div>
            </div>
        </div>
</div> <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Играчка за птици </h5>
                        <img width="400" height="300"
                             src="https://i.pinimg.com/736x/4a/cf/2e/4acf2e9b8b10fb754af72d461906e876--prusa-i-d-prints.jpg"
                             alt="Pic">
                        <p class="card-text">Къщичка за игра!</p>
                        <p class="card-text">Цена - 55лв</p>
                        <a href="#" class="btn btn-success">Купи</a>
                        <a sec:authorize="hasRole('MODERATOR')" th:href="@{/pets-catalog/delete/{id}(id =*{id})}"  class="btn btn-success">Изтрий</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Играчка за птици</h5>
                        <img width="400" height="300"
                             src="https://i.pinimg.com/originals/97/cc/ba/97ccbaa45fd4a1bb2fa80c3e8fb69c26.jpg"
                             alt="Pic">
                        <p class="card-text">Къщичка за игра!</p>
                        <p class="card-text">Цена - 55лв</p>
                        <a href="#" class="btn btn-success">Купи</a>
                        <a sec:authorize="hasRole('MODERATOR')"th:href="@{/pets-catalog/delete/{id}(id =*{id})}"  class="btn btn-success">Изтрий</a>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</body>
<div th:replace="fragments/commons::footer" class="container my-5">

</div>
</html>